.mainContainer {
  min-height: 100vh;
  padding: 2rem;
  background-color: var(--bg);

  h2 {
    color: var(--textb);
    margin: 0;
  }

  .text {
    color: var(--textg);
    font-size: 14px;
  }

  .metrics {
    height: 10px;
    color: green;
    font-size: 12px;
    background-color: rgba(60, 216, 60, 0.174);
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 5px;

    .dot {
      height: 5px;
      width: 5px;
      background-color: green;
      border-radius: 50%;
      margin-right: 5px;
    }
  }

  .cardsec {
    padding: 1rem 0 1rem 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .card {
      width: 24%;
      box-sizing: border-box;
      background-color: var(--cardbg);
      border: 1px solid var(--br);
      border-radius: 10px;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .material-symbols-rounded {
        background-color: rgba(55, 155, 243, 0.288);
        color: blue;
        padding: 7px;
        border-radius: 5px;
        font-size: 16px;
      }

      .cardtop {
        display: flex;
        justify-content: space-between;
      }

      .numeric {
        display: block;
        font-weight: 700;
        color: var(--textb);
      }
    }

  }

  .graph {
    border: 1px solid var(--br);
    border-radius: 10px;
    background-color: var(--cardbg);
    overflow: hidden;

    .map {
      height: 70vh;
      width: 100%;
      position: relative;
    }

    .country {
      position: absolute;
      right: 10px;
      bottom: 10px;
      border: 1px solid var(--br);
      border-radius: 5px;
      padding: 10px;
      background-color: #fff;
      display: flex;
      gap: 10px;

      .divider {
        height: 2rem;
        width: 1px;
        background-color: var(--br);
      }

      .mapbox {
        display: flex;
        flex-direction: column;
        color: var(--textb);

        .caps {
          text-transform: uppercase;
          font-size: 12px;
          color: #000;
        }

        .num {
          font-size: 12px;
          font-weight: 600;
          color: #000
        }
      }
    }

    .metrics {
      height: 1rem;
      padding: 10px;
    }

    .globalRight {
      display: flex;
      gap: 0.5rem;
    }

    .global {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      border-bottom: 1px solid var(--br);

      .material-symbols-rounded {
        height: 1rem;
        color: var(--textb);
        padding: 10px;
        border: 1px solid var(--br);
        border-radius: 10px;
        font-size: 16px;
      }

      .globalleft {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .server {
    color: var(--textb);
    font-weight: 600;
  }

  .tableContainer {

    table {
      width: 100%;
      border-collapse: separate;
      border-spacing: 0;
    }

    th {
      background-color: #f2f2f2;
    }

    th:first-child {
      border-top-left-radius: 8px;
    }

    th:last-child {
      border-top-right-radius: 8px;
    }

    th,
    td {
      padding: 8px;
      text-align: left;
      border: 1px solid #ccc;
      /* make sure --br is defined */
    }

    .recent {
      display: flex;
      justify-content: space-between;
    }
  }

}