<div class="mainContainer">
  <h2>Organization Overview</h2>
  <span class="text">Welcome back, Alex. Here is what's happening today.</span>

  <section class="cardsec">
    <div class="card">
      <div class="cardtop">
        <span class="material-symbols-rounded">
          person
        </span>
        <span class="metrics">+12.5%</span>
      </div>
      <span class="text">Total active users</span>
      <span class="numeric">12,842</span>
    </div>

    <div class="card">
      <div class="cardtop">
        <span class="material-symbols-rounded">
          person
        </span>
        <span class="metrics">+12.5%</span>
      </div>
      <span class="text">Total active users</span>
      <span class="numeric">12,842</span>
    </div>
    <div class="card">
      <div class="cardtop">
        <span class="material-symbols-rounded">
          person
        </span>
        <span class="metrics">+12.5%</span>
      </div>
      <span class="text">Total active users</span>
      <span class="numeric">12,842</span>
    </div>
    <div class="card">
      <div class="cardtop">
        <span class="material-symbols-rounded">
          person
        </span>
        <span class="metrics">+12.5%</span>
      </div>
      <span class="text">Total active users</span>
      <span class="numeric">12,842</span>
    </div>
  </section>

  <section class="graph">
    <div class="global">
      <div class="globalleft">
        <span class="server">
          Global Server Activity
        </span>
        <span class="text">Live monitoring across 24 nodes</span>
      </div>
      <div class="globalRight">
        <span class="metrics">
          <span class="dot"></span>
          operational
        </span>
        <span class="material-symbols-rounded">
          zoom_out_map
        </span>
      </div>
    </div>
    <div class="map">
      <div class="embed-map-responsive">
        <div class="embed-map-container"><iframe class="embed-map-frame" frameborder="0" scrolling="no" marginheight="0"
            marginwidth="0"
            src="https://maps.google.com/maps?width=600&height=400&hl=en&q=hyderabad&t=k&z=11&ie=UTF8&iwloc=B&output=embed"></iframe><a
            href="https://sprunkiretake.net"
            style="font-size:2px!important;color:gray!important;position:absolute;bottom:0;left:0;z-index:1;max-height:1px;overflow:hidden">Sprunki</a>
        </div>
        <style>
          .embed-map-responsive {
            position: relative;
            text-align: right;
            width: 100%;
            height: 0;
            padding-bottom: 66.66666666666666%;
          }

          .embed-map-container {
            overflow: hidden;
            background: none !important;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
          }

          .embed-map-frame {
            width: 100% !important;
            height: 100% !important;
            position: absolute;
            top: 0;
            left: 0;
          }
        </style>
      </div>
      <div class="country">
        <div class="mapbox">
          <span class="caps">north america</span>
          <span class="num">4.2ms</span>
        </div>
        <span class="divider"></span>
        <div class="mapbox">
          <span class="caps">north america</span>
          <span class="num">4.2ms</span>
        </div>
        <span class="divider"></span>
        <div class="mapbox">
          <span class="caps">north america</span>
          <span class="num">4.2ms</span>
        </div>
      </div>
    </div>
  </section>

  <section class="tableContainer">
    <div class="recent">
      <span>Recent Activity</span>
      <span>View all activity</span>
    </div>
    <table>
      <thead>
        <tr>
          <th>Activity</th>
          <th>User</th>
          <th>Status</th>
          <th>Task</th>
          <th>Progress</th>
          <th>Date</th>
          <th>Amount</th>		 		
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Subscription</td>
          <td>Renewal</td>
          <td>Cate</td> 
          <td>Doe</td>
          <td>Paid</td>
          <td>Oct 24, 2023</td>
          <td>$599.00</td>
        </tr>      
        <tr>
          <td>New</td>
          <td>Signup</td>
          <td>Sarah</td> 
          <td>Smith</td>
          <td>Pending</td>
          <td>Oct 24, 2023</td>
          <td>$0.00</td>
        </tr>
      </tbody>

    </table>
  </section>

</div>