<div class="sidebar">
  <div class="logo">
    <div class="logo-icon">✨</div>
    <span>AG Sidebar</span>
  </div>

  <nav class="nav">
    <a *ngFor="let item of navItems" class="nav-item" [routerLink]="item.route" routerLinkActive="active">
      <span class="icon">{{ item.icon }}</span>
      <span class="label">{{ item.label }}</span>
    </a>
  </nav>


  <div class="sidebar-footer">
    <div class="user-info">
      <div class="avatar">AK</div>
      <div class="details">
        <div class="name">Akhil</div>
        <div class="status">Online</div>
      </div>
    </div>
  </div>
</div>